*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    /* Formataçoes */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color:black ;
    background-color:rgb(152, 174, 182) ;
}   
.meubolo{
    position: absolute;
    top: 200px;
    left: 200px;
    background-color: aquamarine;
    width: 200px;
    height: 200px;
    border-radius:50%;
    text-align:center;
    padding: 80px;
}
.topo{
    text-align: center;
    font-size: 150px;
    padding: 30px;
    background-color: lightcyan;
}
.faixa{
    background-color: darkturquoise;
    height: 80px;
}
.container{
   overflow: hidden;

}
.coluna{
    float: left;
    min-height: 400px;
}
.cl1{
    width: 10%;
    background-image: url(https://thumbs.dreamstime.com/b/alfa-do-png-t%C3%BAnel-digital-la%C3%A7o-as-cabe%C3%A7as-indicam-acima-118874658.jpg)
}
.cl2{
    width: 80%;
    background-color: cornflowerblue;
}
.cl3{
    width: 10%;
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR58iWAPX9EZsvi9kwEh_657weyr8RMJNTorQ&usqp=CAU) ;
}
